@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #1E2326;
  --color-base-200: #272E33;
  --color-base-300: #2E383C;
  --color-base-content: #FFFBEF;
  --color-primary: #7A8478;
  --color-primary-content: #FFFBEF;
  --color-secondary: #859289;
  --color-secondary-content: #FFFBEF;
  --color-accent: #A7C080;
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: #83C092;
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: #7FBBB3;
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: #A7C080;
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: #DBBC7F;
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: #E67E80;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-sans: "JetBrains Mono", monospace;
}
